<div class="container">

<form action="/user/update/<%= user.id %>" method="POST" class="form-signin">

<h2> Vous pouvez editez vos utilisateurs ici </h2>

<input value="<%= user.name %>" name="name" type="text" class="form-control"/><br />
<input value="<%= user.test %>" name="test" type="text" class="form-control"/><br />
<input value="<%= user.adresse %>" name="adresse" type="text" class="form-control"/><br />
<input value="<%= user.email %>" name="email" type="text" class="form-control"/><br />
<% if (session.authenticated && session.User.admin) {%>
 <% if (user.admin) { %>
  <label class="checkbox">
   <input type="checkbox" name="admin" checked value="yes"> Admin
  </label>
 <% } else { %>
  <label class="checkbox">
   <input type="checkbox" name="admin" value="yes"> Admin
  </label>
 <% } %>
<% } %>	
<input value="Proceed" class="btn btn-lg btn-primary btn-block" type="submit" /><br />
<input type="hidden" name="_csrf" value="<%= _csrf %>" />

</form>

</div>