<div class="container">
			<ol class="breadcrumb">
			 <h3>Profil  <%= user.name %></h3> </span></ol>
	<% if (user.admin) { %> 
				<td><span class="glyphicon glyphicon-king" aria-hidden="true"></span>
</td>
				<% } else { %>
				<td> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
</td>
				<% } %>
				<div class="row">	
					<div class="col-lg-6">
					<h2>Information :</h2>
						<div class="alert alert-info" role="alert">
							<h3> Nom : <%= user.name %> </h3>
							<h3> Email : <%= user.email %> </h3>
							 <h3>Adresse : <%= user.adresse %> </h3>
							 <h3>Numéro : <%= user.num %> </h3>

						</div>
					</div>
					<div class="col-lg-6">
					<H2>Avatar :</h2><br />
					<img src="/images/shen4.jpg" class="" style="width:300px;height:150px"><br />

					</div>
				</div>
				<div class="list-group" style="margin-top:50px">
				  <a href="#" class="list-group-item disabled">
				    Liste des produits acheté
				  </a>
				  <a href="#" class="list-group-item">1</a>
				  <a href="#" class="list-group-item">2</a>
				  <a href="#" class="list-group-item">3</a>
				</div>



	<br />
	<a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
</div>